.form-header {
    margin-top: 25px;
}

.form-header h2 {
    margin-bottom: 30px;
}

.form-body {
    color: white;
    margin-top: 30px;
}

.form-body p {
    text-align: left;
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (min-width: 700px) {
    .form-buttons {
        flex-direction: row;
    }
}

.form-conscent label {
    font-size: 16px;
}