.form-header {}

.form-body {
    color: white;
}

.form-body p {
    text-align: left;
}

.form-body label {
    /* font-size: 20px; */
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-conscent label {
    font-size: 16px;
}