.form-header {
    margin-top: 25px;
}

.form-header h2 {
    margin-bottom: 30px;
}

.form-body {
    color: white;
    margin-top: 30px;
}

.form-body p {
    text-align: left;
}

.form-body label {
    /* font-size: 20px; */
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-conscent label {
    font-size: 16px;
}