.modal {
    display: flex;
    color: black;
    align-items: center;
}

.modal-content {
    min-height: 200px;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}