.form-section {
    display: flex;
    margin: 20px 0;
    padding: 20px 0;
}

.section-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-left .section-top {
    margin-bottom: 30px;
}

@media only screen and (min-width: 992px) {
    .section-left .section-top {
        width: 100%;
        margin-bottom: 0;
    }
}

.section-info p {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
}

.section-cta {
    display: flex;
    justify-content: flex-end;
}

.section-right {}