.form-section {
    display: flex;
    position: relative;
    margin: 20px 0;
    padding: 20px 0;
    color: white;
    background-color: rgba(var(--bs-secondary-rgb), 0.8)!important;
}

@media only screen and (min-width: 1040px) {
    .form-section {
        position: unset;
    }
}

.section-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-left .section-top {
    margin-bottom: 30px;
}

@media only screen and (min-width: 992px) {
    .section-left .section-top {
        width: 100%;
        margin-bottom: 0;
    }
}

.section-info p {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
}

.section-cta {
    display: flex;
    justify-content: flex-end;
}

.section-title {
    font-weight: bold;
}

.hidden {
    display: none;
}

.deco-1 {
    position: absolute;
    top: 0;
    left: -200px;
    width: 400px;
    z-index: -1;
    max-width: unset;
}

.deco-2 {
    position: absolute;
    bottom: 10%;
    right: -200px;
    width: 400px;
    z-index: -1;
    max-width: unset;
}

@media only screen and (min-width: 767px) {
    .deco-1 {
        top: -25%;
        left: -250px;
        width: 400px;
    }

    .deco-2 {
        bottom: -5%;
        right: -220px;
        width: 400px;
    }
}

@media only screen and (min-width: 1040px) {
    .deco-1 {
        top: 25%;
        left: -150px;
        width: 30%;
    }

    .deco-2 {
        bottom: -5%;
        right: -100px;
        width: 32%;
    }
}